---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Generator from '../components/Generator'
import '../message.css'
import 'katex/dist/katex.min.css'
import 'highlight.js/styles/atom-one-dark.css'
---

<Layout title="ChatGPT API Demo">
  <main >
    <Header />
    <Generator client:load />
    <Footer />
  </main>
</Layout>

<script>
async function checkCurrentAuth() {
  const urlParams = new URLSearchParams(window.location.search);
  const param1 = urlParams.get('param1') ?? '';
const param2 = urlParams.get('param2') ?? '';
const signature = urlParams.get('signature') ?? '';
  const password = localStorage.getItem('pass');

  //const password = passwordFromParam || passwordFromLocalStorage;
  const response = await fetch('/api/auth', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      param1: param1,
      param2:param2,
      signature:signature, 
    }),
  });

  const responseJson = await response.json();
  if (responseJson.code !== 0) window.location.href = 'https://yongmai.xyz/myvip';
}
checkCurrentAuth()
</script>
